﻿body { 
	font-size: 1em; 
	color: white;
	background-image:url(../img/mer.jpeg);
	background-size:100%;
	background-size: cover;
}

header{
	font-family:Impact, fantasy, Monospace;
	font-size: 200%;
	width:100%;
	height:30%;
	color:gray;
	margin-bottom:26px;
	text-align: center;
	display: inline-block;
	background-image:url(../img/headertest2.jpeg);
	background-size: 100% 100%;
	border-radius: 10px ;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}


	color:gray;


a{
	text-decoration: none;
}

a p.p2 {
	margin-top: 0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	display : inline-block;
	width: 25%;
	min-height: 15px;
	color: black;
	background-color:#0073FF;
	border-radius: 10px ;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	float:left;
	text-decoration: none;
}

a p.p2:hover { 
	color: black; 
	background-color:#0055FF;
	text-decoration: none; 
	display : inline-block; 
	border-radius: 10px ; 
	width: 25%; 
	cursor:pointer;
	text-decoration: none;
}
 
h1 {
	text-align: center;
}
p.titre{
	font-size: 3em;
	text-align: center;
}
div.formulaire{
	text-align: center;
}

#corps{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	margin-top: 26px;
	border-radius: 20px ;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
}

p.jeu{
	margin-top: 4px;
	margin-bottom:0px;
	margin-left:4px;
	margin-right:0px;
	display : inline-block;
	width: 100%;
	min-height: 10px;
	color: black;
	float:left;
}


#pied_de_page{
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
		background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%); 
		border-radius: 10px ;
		box-sizing: border-box;
		-moz-box-sizing:border-box;
}

#menu, #menu ul /* Liste */ {
        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 21px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
		
}


#menu /* Ensemble du menu */{
        font-weight : bold; /* on met le texte en gras */
        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
        font-size : 12px; /* hauteur du texte : 12 pixels */
}


#menu a /* Contenu des listes */{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
		background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
		background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);      
        color : white; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 239px; /* largeur */
		border-radius: 10px ;
	    box-sizing: border-box;
	    -moz-box-sizing:border-box;
}


#menu li /* Elements des listes */ { 
        float : left; 
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li{
        border-right: 1px solid transparent ; /* on met une bordure transparente à droite de chaque élément */
}


#menu li ul /* Sous-listes */{ 
        position: absolute; /* Position absolue */
        width: 239px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
}



#menu li ul li /* Éléments de sous-listes */{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top: 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li ul li {
        border-top: 1px solid transparent; /* on met une bordure transparente en haut de chaque élément */
}

#menu li ul ul{
        margin: -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left: 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      

}
/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul  {
        border-left: 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}

#menu a:hover /* Lorsque la souris passe sur un des liens */    {
        color: #000; /* On passe le texte en noir... */
        background: #fff; /* ... et au contraire, le fond en blanc */
}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}


#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-listes lorsque la souris passe sur un élément de sous-liste */{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

article.index{
	margin-left: 20%;
	margin-bottom:10%;
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:2px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
article.index:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
article.index:active {
	position:relative;
	top:1px;
}

article.droithaut{

	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:2px solid #337bc4;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
	width: 400px;
	min-height: 250px;
	float: right;
	margin-right:30px;
}

article.droitbas{

	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:2px solid #337bc4;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
	width: 400px;
	min-height: 250px;
	position: absolute;
	top: 705px;
	right: 38px;
}

article.gauche{
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:2px solid #337bc4;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
	width: 200px;
	padding-top:1%;
	padding-left:1%;
	margin-top: 4px;
	margin-bottom:30px;
	margin-left:30px;
	margin-right:0px;
	display : inline-block;
	width: 600px;
	min-height: 600px;
	clear:both;	
}

